:root{
    --deep-brown: #432818;
    --blackish: #2d2c2c;
    --whiteish: #fff3d6;
    --camel: #bb9457;
    --bronze-gold: #d18a2c;
    
}
/* Bronze Gold shadow tones
box-shadow: inset 20px 20px 60px #b27525, 
            inset -20px -20px 60px #f09f33;*/


/* Forces the body elements to completely fill the page */
body {
    overflow-y: auto;
	margin: 0;
	background-color: var(--whiteish);
  }

/*For home, maybe try grid template 50% 50%.*/
#home {
   /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);*/
    background-color: var(--whiteish);
    width: 100%;
    height: 100vh; /*compensates for the header, keeping full page*/
}


#home > div > img {
    width: 120%;
    height: auto;
    float: center;

    /*Neomorphism Addition*/
    border-radius: 50%;
    background: #1a3f12;
    box-shadow: -16px 16px 68px #0a1907, 
    16px -16px 68px #2a651d;
}

.home-data {
    background-color: var(--forest-green);
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: auto;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 25%;
    padding-bottom: 15%;
    
}

.home-data > a:link {
    text-decoration: none;
    
    color: var(--light-tan);
    font-size: 2em;
}



.headshot-data {
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
    width: 100%;
    
}



#header-section {
    position: sticky; /*All you need for a sticky header*/
	background-color: var(--blackish);
	color: var(--whiteish);
	border-bottom: 4px solid var(--bronze-gold);
    width: 100%;
    height: 5rem;
    margin: 0; 
    text-align: left;
    grid-column-start: 0;
    grid-column-end: 100%;
    grid-row-start: 0;
    grid-row-end: 25%;
    top: 0;
    z-index: 5;
}


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 2%;
}

.navbutton {
	margin-top: 3rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
	margin-left: 1rem;
}

ul.navbar li {
    display: inline;
}

ul.navbar li > a:link {
    text-decoration: none;
    color: var(--light-tan);
}

ul.navbar li > a:visited {
    text-decoration: none;
    color: var(--light-tan);
}

.button {
    background-color: var(--whiteish);
	color: var(--bronze-gold);
	border: 2px solid var(--bronze-gold);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
    text-transform: uppercase;
    
}

.button:hover {
    background-color: var(--camel);
    color: var(--whiteish);
    border: 2px solid var(--bronze-gold);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
    text-transform: uppercase;
}


#landing-page{
    background-color: var(--forest-green);
    color: var(--norm-gold);
}

h1.landingText1 {
    color: var(--norm-gold);
    font-size: 3em;
    margin-bottom: 0%;
}

h3.landingText {
    color: var(--light-tan);
    font-size: 2em;
    margin-top: 0%;
    margin-bottom: 15%;
}


/*----------------HOME-----------------*/

.headshot-box {
	
	display: inline-block;
	z-index: 2;
	
}

.headshot {
	width: 100%;
	
	z-index: 2;
}

#intro-boxes{
	display: grid;
	position: absolute;/*pops this section above the headshot*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);
    background-color: var(--deep-brown);
    
    width: 80%;
    height: 25rem;
	margin-right: 9em;
	margin-left: 9em;
	margin-top: -5%;
	z-index: 3;
	
}



.the-core-values {
	background-color: var(--whiteish);
	margin-left: 6em;
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
	box-shadow: inset -23px 23px 34px #ccc2ab, 
			inset 23px -23px 34px #ffffff;
}

.the-insight {
	background-color: var(--whiteish);
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
	box-shadow: inset -23px 23px 34px #ccc2ab, 
			inset 23px -23px 34px #ffffff;
}

.the-programs {
	background-color: var(--whiteish);
	margin-right: 6em;
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
	box-shadow: inset -23px 23px 34px #ccc2ab, 
			inset 23px -23px 34px #ffffff;

}

.mockup-box {
	/*display: grid;
	grid-column: 1/2;
	grid-row: 1/3;
    grid-template-columns: subgrid;
	grid-template-rows: subgrid;*/
	display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);
	
	
}

.home-mockup {
	width: 75%;
	
}

.tuff-mamma {
	background-color: red;
	margin: auto;
	margin-left: 2em;
	margin-right: 2em;
	height: 2.5em;
	margin-bottom: 1em;
	padding-top: 0.15em;
	
}

.team-building {
	background-image: linear-gradient(90deg, var(--bronze-gold, var(--camel), var(--bronze-gold)));
	margin: auto;
	margin-left: 2em;
	margin-right: 2em;
	height: 2.5em;
	margin-bottom: 1em;
	padding-top: 0.07em;
}

.resilience-training {
	background-color: red;
	margin: auto;
	margin-left: 2em;
	margin-right: 2em;
	height: 2.5em;
	margin-bottom: 1em;
	padding-top: 0.15em;
}

#clients {
	color: var(--whiteish);
	background-color: var(--camel);
	position: relative;
	text-align: center;
	margin-top: 15%;
	height: 10em;
	padding-top: 3em;
	
}

#home-promo {
	display: grid;
    grid-template-columns: 3fr 2fr;
	grid-auto-rows: minmax(100%, auto);	
	background-color: yellow;
	margin-right: 5em;
	margin-left: 5em;
	margin-top: 5em;
}

.book-valerie {
	text-align: center;
	
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
	background-color: red;
}

.contact-valerie {
	background-color: purple;
	
}

.subscribe-valerie {
	background-color: pink;
	
	
}

.hidden {
	visibility: hidden;
}

#tester {
	background-color: green;
}

.testimonial {
	margin-top: 3em;
	
	text-align: center;
	height: 8em;
	color: var(--blackish);
	opacity: 0.5;
	font-size: 2em;
	padding-right: 3em;
	padding-left: 3em;
}

footer {
	background-color: var(--camel);
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(100%, auto);	
}