:root{
    --deep-brown: #432818;
    --blackish: #2d2c2c;
    --whiteish: #fff3d6;
    --camel: #bb9457;
	--bronze-gold: #d18a2c;
	
	--speed: 3000ms;
    
}
/* Bronze Gold shadow tones
box-shadow: inset 20px 20px 60px #b27525, 
            inset -20px -20px 60px #f09f33;*/


/* Forces the body elements to completely fill the page */
body {
    overflow-y: auto;
	margin: 0;
	background-color: var(--whiteish);
  }

/*For home, maybe try grid template 50% 50%.*/
#home {
   /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);*/
    background-color: var(--whiteish);
    width: 100%;
    height: 100vh; /*compensates for the header, keeping full page*/
}


#home > div > img {
    width: 120%;
    height: auto;
    float: center;

    /*Neomorphism Addition*/
    border-radius: 50%;
    background: #1a3f12;
    box-shadow: -16px 16px 68px #0a1907, 
    16px -16px 68px #2a651d;
}

.home-data {
    background-color: var(--forest-green);
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: auto;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 25%;
    padding-bottom: 15%;
    
}

.home-data > a:link {
    text-decoration: none;
    
    color: var(--light-tan);
    font-size: 2em;
}



.headshot-data {
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
    width: 100%;
    
}



#header-section {
    position: sticky; /*All you need for a sticky header*/
	background-color: var(--blackish);
	color: var(--whiteish);
	border-bottom: 4px solid var(--bronze-gold);
    width: 100%;
    height: 5rem;
    margin: 0; 
    text-align: left;
    grid-column-start: 0;
    grid-column-end: 100%;
    grid-row-start: 0;
    grid-row-end: 25%;
    top: 0;
    z-index: 5;
}


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 2%;
}

.navbutton {
	margin-top: 3rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
	margin-left: 1rem;
}

ul.navbar li {
    display: inline;
}

ul.navbar li > a:link {
    text-decoration: none;
    color: var(--light-tan);
}

ul.navbar li > a:visited {
    text-decoration: none;
    color: var(--light-tan);
}




#landing-page{
    background-color: var(--forest-green);
    color: var(--norm-gold);
}

h1.landingText1 {
    color: var(--norm-gold);
    font-size: 3em;
    margin-bottom: 0%;
}

h3.landingText {
    color: var(--light-tan);
    font-size: 2em;
    margin-top: 0%;
    margin-bottom: 15%;
}


/*----------------HOME-----------------*/

.headshot-box {
	
	display: inline-block;
	z-index: 2;
	
}

.headshot {
	width: 100%;
	
	z-index: 2;
}

.intro-boxes-div {
	padding-left: 9em;
	padding-right: 9em;
	height: 30rem;
	z-index: 3;
	position: absolute; /*pops above the headshot box*/
}

#intro-boxes{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);
    background-color: var(--deep-brown);
	margin-top: -5%;
	z-index: 3;
	justify-content: center;
	height: 25em;
}



.the-core-values {
	background-color: var(--whiteish);
	margin-left: 3em; /*orig 6em*/
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
	box-shadow: inset -23px 23px 34px #ccc2ab, 
			inset 23px -23px 34px #ffffff;
	
	position: relative; /*necessary to keep button div at bottom of this*/

}

.the-insight {
	background-color: var(--whiteish);
	margin-left: 2em; /*orig 3em*/
	margin-right: 2em; /*orig 3em*/
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
	box-shadow: inset -23px 23px 34px #ccc2ab, 
			inset 23px -23px 34px #ffffff;
	
	position: relative; /*necessary to keep button div at bottom of this*/
}

.the-programs {
	background-color: var(--whiteish);
	margin-right: 3em; /*orig 6em*/
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
	box-shadow: inset -23px 23px 34px #ccc2ab, 
			inset 23px -23px 34px #ffffff;
	
	position: relative; /*necessary to keep button div at bottom of this*/

}

.button-div {
	background-color: red;
	position: absolute;
	bottom: 0; /* attaches the element to the bottom */
    left: 0; /* attaches the element to the left-side */
	right: 0; /* attaches the element to the right-side */
	

	
}

.button {
	display: block;
    background-color: var(--blackish);
	color: var(--whiteish);
	border: 2px solid var(--bronze-gold);
	height: 2em;
    padding-top: 1em;
    /*padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;*/
    text-decoration: none;
	text-transform: uppercase;
	bottom: 0; /* attaches the element to the bottom */
    left: 0; /* attaches the element to the left-side */
	right: 0; /* attaches the element to the right-side */
	
    
}

.button:hover {
    display: block;
    background-color: var(--whiteish);
	color: var(--bronze-gold);
	border: 2px solid var(--bronze-gold);
	height: 2em;
    padding-top: 1em;
    /*padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;*/
    text-decoration: none;
	text-transform: uppercase;
	bottom: 0; /* attaches the element to the bottom */
    left: 0; /* attaches the element to the left-side */
	right: 0; /* attaches the element to the right-side */
}

.mockup-box {
	display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);
	margin-bottom: 3em;
	
}

.home-mockup {
	width: 75%;
	
}

.programs-box {
	margin-bottom: 1.8em;
}

.tuff-mamma {
	background: linear-gradient(45deg, var(--bronze-gold), var(--camel));
	margin: auto;
	margin-left: 2em;
	margin-right: 2em;
	height: 2.5em;
	margin-bottom: 1em;
	padding-top: 0.15em;
	
}

.team-building {
	background: linear-gradient(45deg, var(--bronze-gold), var(--camel));
	margin: auto;
	margin-left: 2em;
	margin-right: 2em;
	height: 2.5em;
	margin-bottom: 1em;
	padding-top: 0.07em;
}

.resilience-training {
	background: linear-gradient(45deg, var(--bronze-gold), var(--camel));
	margin: auto;
	margin-left: 2em;
	margin-right: 2em;
	height: 2.5em;
	margin-bottom: 1em;
	padding-top: 0.15em;
}
/*------------CORE VALUES--------------*/
.love {
	background-color: var(--whiteish);
	border: 2px solid var(--bronze-gold);
	margin-bottom: 1em;
	font-size: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.accountability {
	background-color: var(--whiteish);
	border: 2px solid var(--bronze-gold);
	margin-bottom: 1em;
	font-size: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.integrity {
	background-color: var(--whiteish);
	border: 2px solid var(--bronze-gold);
	margin-bottom: 1em;
	font-size: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.respect {
	background-color: var(--whiteish);
	border: 2px solid var(--bronze-gold);
	margin-bottom: 1em;
	font-size: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.responsiveness {
	background-color: var(--whiteish);
	border: 2px solid var(--bronze-gold);
	margin-bottom: 1em;
	font-size: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

#clients {
	color: var(--whiteish);
	background-color: var(--camel);
	position: relative;
	text-align: center;
	margin-top: 15%;
	height: 10em;
	padding-top: 3em;
	
}

#home-promo {
	display: grid;
    grid-template-columns: 3fr 2fr;
	grid-auto-rows: minmax(100%, auto);	
	margin-right: 5em;
	margin-left: 5em;
	margin-top: 5em;
	height: 18em;
}

.book-valerie {
	background-color: var(--bronze-gold);
	text-align: center;	
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
	border: 2px solid var(--whiteish);
	height: 18em;
	font-size: 1.1em;
}

.book-button-div {
	margin-top: 4em;
}

.other-button-div {
	margin-top: 5em;
}

.book-button {
	background-color: var(--bronze-gold);
	text-decoration: none;
	color: var(--whiteish);
	border: 2px solid var(--whiteish);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
	
}

.book-button:hover {
	background-color: var(--whiteish);
	text-decoration: none;
	color: var(--bronze-gold);
	border: 2px solid var(--whiteish);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
	
}

.other-button {
	background-color: var(--deep-brown);
	text-decoration: none;
	color: var(--whiteish);
	border: 2px solid var(--whiteish);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
	
}

.other-button:hover {
	background-color: var(--whiteish);
	text-decoration: none;
	color: var(--deep-brown);
	border: 2px solid var(--whiteish);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
	
}

.contact-valerie {
	
	border: 2px solid var(--whiteish);
	background-color: var(--deep-brown);
	text-align: center;
	color: var(--whiteish);
	height: 18em;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1.1em;
}



.hidden {
	visibility: hidden;
}



.testimonial {
	margin-top: 5em;
	
	text-align: center;
	height: 8em;
	color: var(--blackish);
	opacity: 0.5;
	font-size: 2em;
	padding-right: 3em;
	padding-left: 3em;
}

.footer-icon-list {
	
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(100%, auto);
	
}

.yt-icon {
	height: 2em;
}

.footer-icon-box {
	width: 2em;
	margin-right: 1em;
	margin-left: 1em;
}

.footer-button {
	background-color: var(--whiteish);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 4em;
	padding-left: 4em;
	color: var(--blackish);
	text-decoration: none;
	border: 2px solid var(--deep-brown);
}

.footer-button:hover {
	background-color: var(--camel);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 4em;
	padding-left: 4em;
	color: var(--whiteish);
	border: 2px solid var(--whiteish);
	text-decoration: none;
}

footer {
	background-color: var(--camel);
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(100%, auto);	
	color: var(--blackish);
}

.footer-box {
	
}

.small-footer-box {
	
	padding-top: 2em;
	height: 10em;
	text-align: center;
}

.links-footer-box {
	
	padding-top: 2em;
	padding-left: 1em;
	
}

.useful_links {
	text-decoration: none;
	color: var(--blackish);
}

/*----------------ABOUT-----------------*/
.about-box-div {
	padding-left: 6em;
	padding-right: 6em;
	position: absolute; /*pops this section above the headshot*/
	
	z-index: 3;
	
}

.about-box {
	display: grid;
    grid-template-columns: 3fr 1fr;
	grid-auto-rows: minmax(100%, auto);	
	background-color: var(--whiteish);
	margin-top: -5%;
	z-index: 3;
	margin-bottom: 5em;
}

.about-text {
	background-color:rgb(187,148,87, 0.2);
	padding-left: 3em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 1em;

	border-bottom: 2px solid var(--deep-brown);
	border-left: 2px solid var(--deep-brown);
	border-top: 2px solid var(--deep-brown);
	display: inline-block;
}

.about-sidebar {
	background-color: var(--deep-brown);
	color: var(--whiteish);
	padding-right: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1em;
	text-align: center;
}


.about-button-div {
	margin-top: 1em;
	width: 10em;
	margin-right: 4em;
	margin-left: 4em;
}

.about-button {
	background-color: var(--deep-brown);
	text-decoration: none;
	color: var(--whiteish);
	border: 2px solid var(--whiteish);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
	
	
}

.about-button:hover {
	background-color: var(--whiteish);
	text-decoration: none;
	color: var(--deep-brown);
	border: 2px solid var(--whiteish);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
	
}

.blog-button {
	background-color: var(--deep-brown);
	text-decoration: none;
	color: var(--whiteish);
	border: 2px solid var(--whiteish);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2.8em;
	padding-left: 2.8em;
	
	
}

.blog-button:hover {
	background-color: var(--whiteish);
	text-decoration: none;
	color: var(--deep-brown);
	border: 2px solid var(--whiteish);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2.8em;
	padding-left: 2.8em;
	
}

.products-preview, .blog-preview {
	margin-top: 2em;
}

.about-filler {
	position: relative;
	background-color: var(--whiteish);
	height: 20em;
	top: 0;
}

ul.social-media-icons {
    list-style-type: none;
    margin: 0;
    padding-top: 2%;
}

#social_media_icon_box {
	margin-top: 3rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
	margin-left: 1rem;
}

ul.social-media-icons li {
    display: inline;
}

/*-------------CONTACT SECTION------------*/
.contact-section {
	
}

.contact-image {
	background: var(--deep-brown);
	color: var(--whiteish);
	text-align: center;
	height: 5em;
	padding-top: 1em;
	font-size: 2em;
	
			
}

/*
.coming-soon {
	height: 70vh;
	background-color: var(--blackish);
	padding-top: 8em;
	padding-left: 8em;
	padding-right: 8em;
}

.coming-soon-text {
	padding-right: 3em;
	padding-left: 3em;
	padding-top: 3em;
	padding-bottom: 3em;
	border: 5px solid var(--bronze-gold);
	background-color: var(--whiteish);
	text-align: center;
}
*/

.contact-form-div {
	padding-right: 15em;
	padding-left: 15em;
	padding-top: 2em;
	padding-bottom: 2em;
	height: 100vh;
	text-align: center;
}

.contact-form {
	position: relative;
	background: var(--camel);
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 2em;
	margin-top: 1em;
	margin-bottom: 5em;
	box-shadow: 23px 23px 36px var(--blackish);
	
}

#fname-field {
	margin-right: 0.5em;
}

#lname-field {
	margin-left: 0.5em;
}

.contact-text {
	text-align: center;
}

.contact-page-button-div {
	text-align: center;
}

.contact-page-button {
	background: var(--deep-brown);
	text-decoration: none;
	color: var(--whiteish);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-transform: uppercase;
}

.contact-page-button:hover {
	background: var(--whiteish);
	text-decoration: none;
	color: var(--deep-brown);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-transform: uppercase;
}


input {
	background: var(--whiteish);
	border: 1px solid var(--bronze-gold);
	border-radius: 10px;
	height: 3em;
	padding-left: 0.5em;
}

textarea {
	background: var(--whiteish);
	border: 1px solid var(--bronze-gold);
	border-radius: 10px;
	height: 4em;
	resize: vertical;
	max-height: 6em;
	padding-top: 0.5em;
	padding-left: 0.5em;
}

::placeholder {
	color: var(--deep-brown);
	opacity: 0.5;
}

.form-lines {
    display: grid;
    grid-template-columns: 1fr 5fr; 
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.name-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


/*----------------PRODUCTS-----------------*/
.prod_img {
	width: 100%;
	background: var(--whiteish);
}

.products {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-auto-rows: minmax(100%, auto);	
	margin-left: 8em;
	margin-right: 8em;
	border: 2px solid var(--bronze-gold);
	background: var(--whiteish);
	margin-bottom: 2em;
	height: 16em;
}

.products-div {
	margin-top: 6em;
	margin-bottom: 10em;
}

.prod_descrip {
	background: rgb(209,138,44, 0.2);
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.1em;
}

ul.prod-price-links-1 {
	list-style-type: none;
	margin-top: 3em;
}

ul.prod-price-links-2 {
	list-style-type: none;
	margin-top: 2em;
}

ul.prod-price-links-1 li, ul.prod-price-links-2 li {
	display: inline;
}

.prod-price-1-button, .prod-price-2-button {
	background-color: var(--deep-brown);
	color: var(--whiteish);
	text-decoration: none;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
}

.prod-amazon-1-button, .prod-amazon-2-button {
	text-decoration: none;
	background-color: var(--bronze-gold);
	border: 2px solid var(--deep-brown);
	color: var(--deep-brown);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
}

.prod-amazon-1-button:hover, .prod-amazon-2-button:hover {
	text-decoration: none;
	background-color: var(--bronze-gold);
	border: 2px solid var(--whiteish);
	color: var(--deep-brown);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
}

.prod-bn-1-button {
	text-decoration: none;
	background-color: var(--bronze-gold);
	border: 2px solid var(--deep-brown);
	color: var(--deep-brown);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
}

.prod-bn-1-button:hover {
	text-decoration: none;
	background-color: var(--bronze-gold);
	border: 2px solid var(--whiteish);
	color: var(--deep-brown);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
}

.prod-bn-2-button {
	text-decoration: line-through;
	background-color: var(--bronze-gold);
	border: 2px solid var(--deep-brown);
	color: var(--deep-brown);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 2em;
}

.prod-price-1-button-div, .prod-price-2-button-div {
	width: 10em;
	margin-right: 2em;
	
}

.prod-amazon-1-button-div, .prod-amazon-2-button-div {
	width: 10em;
	margin-right: 2em;
}

.prod-bn-1-button-div {
	width: 10em;
	margin-right: 2em;
}

.prod-bn-2-button-div {
	width: 10em;
	margin-right: 2em;
}

/*-----------------PROGRAMS-----------------*/
.programs-top {
	position: relative;
	background-color: var(--bronze-gold);
	height: 15em;
	margin-top: 0;
	text-align: center;
	opacity: 0.9;
	z-index: -5;
	border-bottom: 2px solid var(--deep-brown);
}

.programs-text {
	color: var(--deep-brown);
	padding-top: 5em;
	
}

.programs-display {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(100%, auto);
	background-color: var(--whiteish);
	margin-right: 6em;
	margin-left: 6em;
	margin-top: 2em;
	height: 15em;
	text-align: center;
	background-color: green;
}



.prog-team-div {
	margin-right: 1em;
	background-color: red;
	
}

.prog-tuff-div {
	margin-right: 1em;
	margin-left: 1em;
	background-color: red;

}

.prog-res-div {
	background-color: red;
	margin-left: 1em;

}

.prog-link {
	background-color: var(--deep-brown);
	text-decoration: none;
	color: var(--whiteish);
	border: 2px solid var(--whiteish);
	padding-top: 4em;
	padding-bottom: 4em;
	padding-right: 8em;
	padding-left: 8em;
}



.team-box {
	background-color: var(--whiteish);
	border: 2px solid var(--bronze-gold);
	margin-right: 1em;
}



.team-building-block {
	border-top: 6px solid var(--deep-brown);
	height: 80vh;
	background-color: var(--whiteish);
	padding-left: 4em;
	padding-right: 4em;
}

.team-building-title {
	opacity: 0.9;
	color: var(--bronze-gold);
	font-size: 3em;
}


.team-building-split {
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100%, auto);
}

.team-building-left {
	font-size: 1.5em;
}

.team-building-right {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

.team-links {
	text-decoration: none;
	background-color: var(--bronze-gold);
	padding: 1em;
	color: var(--blackish);
	font-size: 1em;
}

.team-links-div {
	margin-top: 2em;
}

.tuff-mamma-block {
	border-top: 6px solid var(--bronze-gold);
	height: 80vh;
	background-color: var(--whiteish);
	padding-left: 4em;
	padding-right: 4em;
}

.tuff-mamma-title {
	opacity: 0.9;
	color: var(--deep-brown);
	font-size: 3em;
}

.tuff-mamma-split {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(100%, auto);
	text-align: center;
}

.tuff-mamma-1 {
	margin-right: 1.5em;
	font-size: 1.3em;
}

.tuff-mamma-2 {
	margin-left: 1.5em;
	margin-right: 1.5em;
	font-size: 1.3em;
}

.tuff-mamma-3 {
	margin-left: 1.5em;
	font-size: 1.3em;
}

.tuff-links {
	text-decoration: none;
	background-color: var(--deep-brown);
	padding: 1em;
	color: var(--whiteish);
	font-size: 1em;
}

.tuff-links-div {
	margin-top: 2em;
}


.res-block {
	border-top: 6px solid var(--deep-brown);
	height: 80vh;
	background-color: var(--whiteish);
	padding-left: 4em;
	padding-right: 4em;
}

.res-title {
	opacity: 0.9;
	color: var(--bronze-gold);
	font-size: 3em;
}


.res-split {
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100%, auto);
}

.res-left {
	font-size: 1.5em;
}

.res-right {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

.res-links {
	text-decoration: none;
	background-color: var(--bronze-gold);
	padding: 1em;
	color: var(--blackish);
}

.res-links-div {
	margin-top: 2em;
}


/*-----------------CORE VALUES-----------------*/
.resources-top {
	position: relative;
	background-color: var(--blackish);
	height: 15em;
	margin-top: 0;
	text-align: center;
	opacity: 0.9;
	z-index: -5;
}

.resources-text {
	color: var(--bronze-gold);
	padding-top: 5em;
	
}

.core-values-line {
	background-color: var(--blackish);
	color: var(--whiteish);
	height: 1em;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 4px solid var(--bronze-gold);
}

.core-values-wrapper {
	height: 80vh;
}

.core-values-blocks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(10em, auto);
	padding-left: 4em;
	padding-right: 4em;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	margin-top: 4em;
}

.block {
	background-color: var(--camel);
	/*border: 2px solid var(--deep-brown);*/
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
	/*padding-bottom: 0.5em;*/
	padding-top: 0.5em;
}

.core-values-text {
	padding-top: 1em;
	font-size: 1.1em;
}

.indiv-value {
	font-size: 1.1em;
}

/*-------------MEDIA RESOURCES--------------*/
.media-resources-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(100%, auto);
	text-align: center;
	height: 60vh;
	padding-right: 4em;
	padding-left: 4em;
	padding-top: 8em;
}


.media-block {
	margin-right: 0.5em;
	margin-left: 0.5em;
	border: 3px solid var(--bronze-gold);
	background-color: var(--whiteish);
	
	padding-right: 2em;
	padding-left: 2em;
}

div.downloads-list {
	
	text-align: center;
	
}

div.video-list {
	text-align: center;
}

div.gallery-grid {
	text-align: center;
}

div.downloads-list div.download-prev {
	background-color: var(--bronze-gold);
	margin-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

div.video-list div.video-link {
	background-color: var(--bronze-gold);
	margin-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

/*------------------COMING SOON------------------*/
.coming-soon {
	height: 70vh;
	background-color: var(--blackish);
	padding-top: 8em;
	padding-left: 8em;
	padding-right: 8em;
}

.coming-soon-text {
	padding-right: 3em;
	padding-left: 3em;
	padding-top: 3em;
	padding-bottom: 3em;
	border: 5px solid var(--bronze-gold);
	background-color: var(--whiteish);
	text-align: center;
}
















